body {
    margin: 0 auto;
    width: 90%;
    height: 64vh;
    display: block;
    text-align: center;
    /*background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(imagens/5437842.jpg);*/
    margin-top: 15px;
    opacity: 5;
}


* {
    text-decoration: none;



}

title {
    display: block;

}

h1 {
    margin-top: 200px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 600px;
    font-size: 4vh;
    color: black;
    font-family: Batang;
    margin-left: 0;
    padding-bottom: 6%;
    font-weight: 300;


}

h2 {
    text-align: center;
    /*margin-right: 600px;*/
    font-family: Batang;
    color: #F26B6B;
    font-size: 40px;
    font-weight: 100;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 3vh;

}

.typewrite {
    color: #EB1212;
    font-family: Batang;
    font-weight: 300;
}



nav {
    display: inline;
    margin-right: 9px;
    
;

}

nav-button {
    margin-right: 50px;
    padding-top: 20%;



}

button {
    margin-left: 2vh;
    background-color: white;
    font-size: 2vh;
    border-radius: 2vh;
    padding: 1vh 1vh;
    margin-top: 15vh;
    color: #1B5359;
    font-family: Batang;
    border-color: red;
    border-style:hidden;
    
    



}


button-bio {
    text-align: center;
    font-size: 30px;
}

button-cv {
    text-align: center;
    font-size: 30px;
    
}

button-contact {
    font-size: 30px;
    

}


footer {
    font-family: Batang;
    font-size: 17px;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    font-weight: 600px;
}

a {
    color: black;
}

.cv {
    display: block;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 65px;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

.formacao {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin-right: 600px;
    margin-left: 0;*/
    color: #F26B6B;
}

.paragrafo {
    display: block;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 400;
    opacity: 3;
    padding-inline: 10px;
    padding-block: 10px;


}


.bio {
    margin-left: 0;
    margin-right: 80vh;
    margin-top: 150px;
    margin-bottom: 10px;
    padding-bottom: 4px;
    display: flow-root;
    color:#1B5359

}

.eu {
    text-align: justify;
    margin-left: 60vh;
    margin-right: 60vh;
    display: block;
    margin-top: 0;
    margin-bottom: 0;

}

.topo {
    margin-top: 10%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 3vh;
    font-family: Batang;
    color:black;
}

.contato {
    display: block;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 18%;
    font-family: Batang;
    font-size: 2vh;
    color: black;
    font-weight: 500;

}



.fa {
    padding-right: 35px;
    padding-top: 65px;
}


.texto-bio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 50px;
    margin-right: 7vh;


}

/*texto-bio {
    shape-outside: url(imagens/eu.png);
    shape-margin: 0.9rem;
    float: right;
    padding: 0 2rem;
    margin-bottom: 56px;
    width: 100px;
    height: 100px;
}*/

img{
    max-width: 100%;
    height: auto;
    border-radius: 32vh;
    float: right;
    margin-left:0 ;
    margin-bottom: 3vh;
    padding: 7px;
}


.container {
    padding-top: 9vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

}