body {
    margin: 0 auto;
    width: 90%;
    height:64vh;
    display: block;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-image: url(imagens/5437842.jpg);
    margin-top: 15px;
    opacity: 5;
}


* {
    text-decoration: none;



}

title {
    display: block;

}

h1 {
    margin-top: 200px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 600px;
    font-size: 50px;
    color: #1B5359;
    font-family: Batang;
    margin-left: 0;
    padding-bottom: 6%;


}

h2 {
    text-align: center;
    /*margin-right: 600px;*/
    font-family: Batang;
    color: #F26B6B;
    font-size: 40px;
    font-weight: 100;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

}

.typewrite {
    color: #F26B6B;
    font-family: Batang;
    font-weight: 400;
}



nav {
    display: inline;
    margin-right: 60px;

}

nav-button {
    margin-right: 50px;
    padding-top: 20%;



}

button {
    margin-left: 10px;
    background-color: #EDF2EB;
    text-decoration: solid;
    font-size: 24px;
    border-radius: 8px;
    padding: 30px 55px;
    margin-top: 150px;
    color: #1B5359;
    font-family: Batang;



}


button-bio {
    text-align: center;
    font-size: 30px;
}

button-cv {
    text-align: center;
    font-size: 30px;
}

button-contact {
    font-size: 30px;
}


footer {
    font-family: Batang;
    font-size: 17px;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    color: #F26B6B;
    font-weight: 800;
}

a {
    color: #1B5359;
}

.cv {
    display: block;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 65px;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

.formacao {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin-right: 600px;
    margin-left: 0;*/
   


}

.paragrafo {
    display: block;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 400;
    opacity: 3;
    padding-inline: 10px;
    padding-block: 10px;    
    
    
}


.bio {
    margin-left: 0;
    margin-right: 0;
    margin-top: 65px;
    margin-bottom: 10px;
    padding-bottom: 4px;

}

.eu {
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;
    display: block;
    background-color: white;
}

.topo {
    margin-top: 10%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 50px;
    padding-left: 100px;
    font-size: 30px;
    font-family: Batang;
}

.contato {
    display: block;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 18%;
    font-family: Batang;
    font-size: 20px;
    color: #1B5359;
    font-weight: 500;

}



.fa{
    padding-right: 35px;
    padding-top: 65px;
}

/*.texto-cv{
    background-color: white;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 600;
    opacity: 3;
    
}*/